
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/favico.ico" >



</head>
<body>
    <div class="main-content">{{>header}}
        
    <img class ="potrait" src="./images/favico.png" alt="profile pic">
     
    
    <p>this {{title}} is created to learn node express js and to perform API calls </p></div>
    {{>footer}}
</body>
</html>