
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/favico.ico" >

</head>
<body>
   <div class="main-content"> {{>header}}


    <h2>Help page</h2>
    <p>if you need help please contact {{name}}</p>
</div>
    {{>footer}}

</body>
</html>